.FormLogin {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    background: rgba(24, 24, 24, 0.97);
    border-radius: 5px;
    padding: 20px;
}

.FormWrapper {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}
